projectOrange.Web/Service References/InventoryService/Inventory1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="projectOrange.Services.Read.Inventory" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="projectOrange.Services.Read.Inventory" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="projectOrange.Services.Read.Inventory/Imports">
      <xsd:import schemaLocation="http://localhost:25187/Read/Inventory.svc?xsd=xsd0" namespace="projectOrange.Services.Read.Inventory" />
      <xsd:import schemaLocation="http://localhost:25187/Read/Inventory.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25187/Read/Inventory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/projectOrange.Models.Inventory.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Inventory_GetAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItems" />
  </wsdl:message>
  <wsdl:message name="Inventory_GetAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsResponse" />
  </wsdl:message>
  <wsdl:message name="Inventory_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="Inventory_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="Inventory_SearchItems_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchItems" />
  </wsdl:message>
  <wsdl:message name="Inventory_SearchItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchItemsResponse" />
  </wsdl:message>
  <wsdl:message name="Inventory_SearchItemsComplex_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchItemsComplex" />
  </wsdl:message>
  <wsdl:message name="Inventory_SearchItemsComplex_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchItemsComplexResponse" />
  </wsdl:message>
  <wsdl:portType name="Inventory">
    <wsdl:operation name="GetAllItems">
      <wsdl:input wsaw:Action="projectOrange.Services.Read.Inventory/Inventory/GetAllItems" message="tns:Inventory_GetAllItems_InputMessage" />
      <wsdl:output wsaw:Action="projectOrange.Services.Read.Inventory/Inventory/GetAllItemsResponse" message="tns:Inventory_GetAllItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="projectOrange.Services.Read.Inventory/Inventory/GetItem" message="tns:Inventory_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="projectOrange.Services.Read.Inventory/Inventory/GetItemResponse" message="tns:Inventory_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchItems">
      <wsdl:input wsaw:Action="projectOrange.Services.Read.Inventory/Inventory/SearchItems" message="tns:Inventory_SearchItems_InputMessage" />
      <wsdl:output wsaw:Action="projectOrange.Services.Read.Inventory/Inventory/SearchItemsResponse" message="tns:Inventory_SearchItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchItemsComplex">
      <wsdl:input wsaw:Action="projectOrange.Services.Read.Inventory/Inventory/SearchItemsComplex" message="tns:Inventory_SearchItemsComplex_InputMessage" />
      <wsdl:output wsaw:Action="projectOrange.Services.Read.Inventory/Inventory/SearchItemsComplexResponse" message="tns:Inventory_SearchItemsComplex_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>