projectOrange.Web/Service References/InventoryService/Inventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="projectOrange.Services.Read.Inventory" elementFormDefault="qualified" targetNamespace="projectOrange.Services.Read.Inventory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25187/Read/Inventory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/projectOrange.Models.Inventory.DTOs" />
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
        <xs:element minOccurs="0" name="currencyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/projectOrange.Models.Inventory.DTOs" minOccurs="0" name="GetAllItemsResult" nillable="true" type="q1:ArrayOfBasicItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
        <xs:element minOccurs="0" name="currencyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/projectOrange.Models.Inventory.DTOs" minOccurs="0" name="GetItemResult" nillable="true" type="q2:FullItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
        <xs:element minOccurs="0" name="currencyId" type="xs:int" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/projectOrange.Models.Inventory.DTOs" minOccurs="0" name="SearchItemsResult" nillable="true" type="q3:ArrayOfBasicItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemsComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
        <xs:element minOccurs="0" name="currencyId" type="xs:int" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="catalogId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemsComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/projectOrange.Models.Inventory.DTOs" minOccurs="0" name="SearchItemsComplexResult" nillable="true" type="q4:ArrayOfBasicItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>