projectOrange.Web/Service References/InventoryService/Inventory1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/projectOrange.Models.Inventory.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/projectOrange.Models.Inventory.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBasicItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicItem" nillable="true" type="tns:BasicItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicItem" nillable="true" type="tns:ArrayOfBasicItem" />
  <xs:complexType name="BasicItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicItem" nillable="true" type="tns:BasicItem" />
  <xs:complexType name="FullItem">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FullItem" nillable="true" type="tns:FullItem" />
</xs:schema>